{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}

{% block title %}Helium Israel{% endblock title %}


{% block h_image %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/helium-map.png') }}) ">
    {% endblock h_image %}


    {% block h_title %}
    <h1>Login</h1>
    <span class="subheading">Welcome Back...</span>
    {% endblock h_title %}


    {% block content %}
    <div class="container login">
        <div class="row justify-content-center">
            {% set messages = get_flashed_messages() %}
            <div class="col">
                {% if messages %}
                <p style="color:red; text-align:center">{{ messages[0] }}</p>
                {% endif %}
                {{ render_form(form, action='', method="post", novalidate=True ) }}
            </div>

        </div>
    </div>

    {% endblock content %}