{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}


{% block title %}Helium Israel{% endblock title %}


{% block h_image %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/helium-map.png') }}) ">

    {% endblock h_image %}


    {% block h_title %}

    <h1>Dashboard</h1>
    <span class="subheading">Control your assets</span>

    {% endblock h_title %}


    {% block content %}

    <!-- profile design source -->
    <!-- https://www.bootdey.com/snippets/view/bs4-beta-user-profile-info-with-posts#html -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
    <div class="profile-wrapper">
        <div class="profile-section-user">
            <div class="profile-cover-img"><img src="https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" alt=""></div>
            <div class="profile-info-brief p-3"><img class="img-fluid user-profile-avatar" src="{{ user.email | gravatar }}" alt="">
                <div class="text-center">
                    <h5 class="text-uppercase mb-4">{{ user.name}}</h5>
                    <p class="text-muted fz-base">I'm John Doe a web developer and software engineer. I studied computer science and software engineering.</p>
                </div>
            </div>
            <!-- /.profile-info-brief -->
            <hr class="m-0">
            <div class="hidden-sm-down">
                <hr class="m-0">
                <div class="profile-info-contact p-4">
                    <h6 class="mb-3">Contact Information</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>URL:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">Rathemes.com/inde.html</p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>EMAIL:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">rathemes@gmail.com</p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>PHONE:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">01145525755</p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>SKYPE:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">Rathemes</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.profile-info-contact -->
                <hr class="m-0">
                <div class="profile-info-general p-4">
                    <h6 class="mb-3">General Information</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>JOB:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">Web Developer</p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>POSITION:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">Team Manager</p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>STUDIED:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">Computer Science</p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>LAST SEEN:</strong></td>
                                <td>
                                    <p class="text-muted mb-0 mt-0">Yesterday 8:00 AM</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.profile-info-general -->
                <hr class="m-0">
            </div>
            <!-- /.hidden-sm-down -->
        </div>
        <!-- /.profile-section-user -->
        <div class="profile-section-main">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile-overview" role="tab">Timeline</a></li>
            </ul>
            <!-- /.nav-tabs -->
            <!-- Tab panes -->
            <div class="tab-content profile-tabs-content">
                <div class="tab-pane active" id="profile-overview" role="tabpanel">
                    <div class="post-editor">


                        <form method="post">
                          <div class="form-floating">
                            <input name="post-field" id="msg-field" class="post-field form-control" placeholder="Write {{ user.name }} a Message..."></input>
                            <label for="msg-field">Write {{ user.name }} a Message...</label>
                          </div>


                          <div class="d-flex">
                              <button type="submit" class="btn btn-success px-4 py-1">Send</button>
                          </div>
                        </form>


                    </div>
                    <!-- /.post-editor -->
                    <div class="stream-posts">
                        <!-- /.stream-post -->
                        {% for post in user_posts %}
                        {% set time_stamp = post.time_stamp | string() %}
                        <div class="stream-post">
                            <div class="sp-author">
                                <a href="#" class="sp-author-avatar"><img src="{{ user.email | gravatar }}" alt=""></a>
                                <h6 class="sp-author-name"><a href="#">{{ user.name }}</a></h6></div>
                            <div class="sp-content">
                                <h6 class="mb-3">{{ post.title }}</h6>
                                <div class="sp-info">{{ time_stamp[:16] }}</div>
                                <p class="sp-paragraph mb-0 text-muted">{{ post.subtitle }}</p>
                                <p class="sp-paragraph mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                            </div>
                            <!-- /.sp-content -->
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.stream-posts -->
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.profile-section-main -->
    </div>
    </div>



    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--Socket.io-->
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
            integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
            crossorigin="anonymous"></script>


    {% endblock content %}
