{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}

{% block styling %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/intlTelInput.min.js"></script>


{% endblock styling %}


{% block title %}Helium Israel{% endblock title %}


{% block h_image %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/helium-map.png') }}) ">

    {% endblock h_image %}


    {% block h_title %}

    <h1>Register</h1>
    <span class="subheading">Join the Community</span>

    {% endblock h_title %}


    {% block content %}
    <div class="container register">
        <div class="row justify-content-start">
            <div class="col">
                {{ render_form(form, action='', method="post", novalidate=True ) }}
                <span id="valid-msg" class="d-none"></span>
                <span style="color:red" id="error-msg" class="hide"></span>
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='img/whyearn.svg') }}" class="img-fluid" alt="Helium">
                <!--                TODO need to take care of image resposivness-->
            </div>
        </div>
    </div>



    <script>
      function getIp(callback) {
       fetch('https://ipinfo.io/json?token=575330dab78743', { headers: { 'Accept': 'application/json' }})
         .then((resp) => resp.json())
         .catch(() => {
           return {
             country: 'us',
           };
         })
         .then((resp) => callback(resp.country));
      }

    var phone_field = document.getElementById('phone');
    phone_field.style.position = 'absolute';
    phone_field.style.top = '-9999px';
    phone_field.style.left = '-9999px';
    phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input style="width:143%" class="form-control" type="tel" id="_phone"></div>');
    var fancy_phone_field = document.getElementById('_phone');


    var input = document.querySelector("#_phone"),
    errorMsg = document.querySelector("#error-msg"),
    validMsg = document.querySelector("#valid-msg");

<!--    // here, the index maps to the error code returned from getValidationError - see readme-->
    var errorMap = ["❌ Invalid phone number", "❌ Invalid country code", "❌ Phone number too short", "❌ Phone number too long", "❌ Invalid phone number"];

<!--    // initialise plugin // set flag to proper geocode and call utils.js for validation-->
    var iti = window.intlTelInput(input, {
    initialCountry: "auto",
    geoIpLookup: getIp,
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.js"
    });
    console.log(input)

    var reset = function() {
      input.classList.remove("error");
      errorMsg.innerHTML = "";
      errorMsg.classList.add("d-none");
    };

<!--    // on blur: validate-->
    input.addEventListener('blur', function() {
      reset();
      if (input.value.trim()) {
        if (iti.isValidNumber()) {
          validMsg.classList.remove("d-none");
        } else {
          input.classList.add("error");
          var errorCode = iti.getValidationError();
          errorMsg.innerHTML = errorMap[errorCode];
          errorMsg.classList.remove("d-none");
        }
      }
    });

<!--    // on keyup / change flag: reset-->
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset);


    iti.setNumber(phone_field.value);
    fancy_phone_field.addEventListener('blur', function() {
        phone_field.value = iti.getNumber();
    });

    </script>


    {% endblock content %}
