{% extends 'base.html' %}


{% block title %}Helium Israel{% endblock title %}


{% block h_image %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/helium-map.png') }}) ">
  {% endblock h_image %}


  {% block h_title %}
  <h1>Helium Israel</h1>
  <span class="subheading">Community... Group... You</span>
  {% endblock h_title %}


  {% block content %}
  <div class="container">
    <div class="container" id="homepage-counter">
      <div class="row">

        <div class="col-md-4">
          <a target="_blank" style="color:#4087ea"
             href="https://explorer.helium.com/accounts/{{ wallet.address }}">
            <div class="card-counter danger ">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-wallet"></i>
                </div>
                <div class="col-9 text-end">
                  <span id="wallet-special" class="count-numbers">{{ wallet.address[:8] }}...{{ wallet.address[::-8] }}</span>
                  <span class="count-name">Wallet</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a style="color:#4087ea" href="">
            <div class="card-counter danger ">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-dollar-sign"></i>
                </div>
                <div class="col-9 text-end">
                  <span id="wallet-special" class="count-numbers">{{ wallet.balance | round(2, 'common') }}</span>
                  <span class="count-name">Balance (HNT)</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-2">
          <a style="color:#4087ea" href="">
            <div class="card-counter danger ">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-wifi"></i>
                </div>
                <div class="col-9 text-end">
                  <span id="wallet-special" class="count-numbers">{{ miners | length() + miners_abroad | length() }}</span>
                  <span class="count-name">Miners</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a style="color:#4087ea" href="">
            <div class="card-counter danger ">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-wifi"></i>
                </div>
                <div class="col-9 text-end">
                  <span id="wallet-special" class="count-numbers">Claim this Miner</span>
                  <span class="count-name">Make it yours</span>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

      <div class="table-responsive shadow p-3 mb-5 bg-body rounded">
          <table name="table" data-toggle="table" data-search="true" data-pagination="true" data-show-columns="true"
                 data-sort-name="added" data-sort-order="desc">
              <thead class="table-headers">
              <th data-field="name" data-valign="middle" data-sortable="true">Name</th>
              <th data-field="city" data-valign="middle" data-sortable="true">City</th>
              <th data-field="earnings-7" data-valign="middle" data-sortable="true">Earning 7<br>days</th>
              <th data-field="earnings-30" data-valign="middle" data-sortable="true">Earning 30<br>days</th>
              <th data-field="added" data-valign="middle" data-sortable="true">Added<br>date</th>
              <th data-field="other-miners" data-valign="middle" data-sortable="true">Status</th>
              </thead>
              <tbody>
              {% for miner in miners %}
              <tr>
                  <td class="align-middle"><a target="_blank" style="color:#4087ea"
                                              href="https://explorer.helium.com/hotspots/{{ miner.address }}">
                      {{ miner.name | replace("-", " ") | title() }}</a></td>
                  <td class="align-middle">{{ miner.city }}</td>
                  <td class="align-middle">{{ miner.earnings_7|round(4) }}</td>
                  <td class="align-middle">{{ miner.earnings_30|round(4) }}</td>
                  {% set list1 = miner.added|string() %}
                  <td class="align-middle">{{ list1[:10] }}</td>
                  {% if miner.online == 'online' %}
                  <td class="align-middle" style="color:green">{{ miner.online }}</td>
                  {% else %}
                  <td class="align-middle" style="color:red">{{ miner.online }}</td>
                  {% endif %}

              </tr>
              {% endfor %}

              </tbody>
          </table>
      </div>

      {% if miners_abroad %}
      <h2> Miners located outside of Israel</h2>
      <div class="table-responsive shadow p-3 mb-5 bg-body rounded">
          <table name="table" data-toggle="table" data-search="true" data-pagination="true" data-show-columns="true"
                 data-sort-name="added" data-sort-order="desc">
              <thead class="table-headers">
              <th data-field="name" data-valign="middle" data-sortable="true">Name</th>
              <th data-field="city" data-valign="middle" data-sortable="true">Country</th>
              <th data-field="earnings-7" data-valign="middle" data-sortable="true">City</th>
              <th data-field="other-miners" data-valign="middle" data-sortable="true">Status</th>
              </thead>
              <tbody>
              {% for miner in miners_abroad %}
              <tr>
                  <td class="align-middle"><a target="_blank" style="color:#4087ea"
                                              href="https://explorer.helium.com/hotspots/{{ miner.address }}">
                      {{ miner.name | replace("-", " ") | title() }}</a></td>
                  <td class="align-middle">{{ miner.country }}</td>
                  <td class="align-middle">{{ miner.city }}</td>
                  {% if miner.online == 'online' %}
                  <td class="align-middle" style="color:green">{{ miner.online }}</td>
                  {% else %}
                  <td class="align-middle" style="color:red">{{ miner.online }}</td>
                  {% endif %}

              </tr>
              {% endfor %}

              </tbody>
          </table>
      </div>
      {% endif %}
  </div>
  {% endblock content %}
